@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px;
}

/* unvisited link */
a:link {
    color: red;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

button {
    display: inline-block;
    color: #000000;
    background-color: #FFFFFF;
    margin: auto 2px;
    padding: 0.45rem 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    border-color: transparent;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: all 0.3s linear;
    font-size: 0.75rem;
    cursor: pointer;
}


@layer utilities {
    .text-balance {
        text-wrap: normal;
    }
}
