# ide files
.idea/
.vscode/


# dotenv environment variables file
.env
.env.local
.env.development
.env.production
**/.env
**/.env.local
**/.env.development
**/.env.production

# Node Dependency directories
node_modules/
*/node_modules/

# lock files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml


# Next.js build output
.next
**/.next



